    @import url("/reset.css");
    @import url("/font/font.css");
    .container {
        margin: 20% auto;
        display: flex;
        flex-direction: column;
        align-items: initial;
        max-width: 300px;
        min-height: 300px;
        border: 1px solid #eeeeee;
        background: #EDEDED;
    }
    
    .input-box {
        text-align: center;
        padding: 10px;
        background: red;
    }
    
    h1 {
        font-size: 1.6rem;
        line-height: 2.0rem;
    }
    
    fieldset button {
        margin-left: -5px;
        font-size: 1.2rem;
        line-height: 1.4rem;
        background: #f8f8f8;
        border: none;
        vertical-align: top;
    }
    
    fieldset input {
        font-size: 1.2rem;
        border: none;
    }
    
    .complete {
        text-decoration-line: line-through;
    }
    
    #todo-list {
        text-align: initial;
    }
    
    #todo-list>div {
        align-items: baseline;
        font-size: 1.2rem;
        line-height: 2.0rem;
        position: relative;
    }
    
    #todo-list>div>div {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #todo-list>div>div:hover {
        color: red;
    }
    
    #todo-list>div>div::before {
        font-family: 'fontello';
        content: '\e800';
    }